@font-face{
	src: url('data/VCR_OSD_MONO.ttf');
	font-family: 'vcr';
	font-weight: normal;
	font-style: normal;
}

*{ /* Reset dos espaçamentos */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'vcr', Arial, Helvetica, Verdana, sans-serif;
}

body{ /* Formatação do corpo principal */
	background-color: #444;
}

.gameWindow{
	color: #ddd;
	background-color: #111;
	width: 800px;
	height: 500px;
	border-radius: 3px;
	padding: 10px;
	position: relative;
	display: flex;
	margin: 1em auto;
	flex-direction: column;
}