*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #BA9F3B;
	color: #222;
}

header{
	background-color: #222;
	color: #BA9F3B;
	padding: 1em;
	height: 5em;
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}

header h1{
	font-size: 2.2em;
	margin: auto;
}

main{
	background-color: #ccc;
	color: #222;
	border: 4px solid #222;
	padding: 20px;
	max-width: 800px;
	margin: auto;
	border-radius: 5px;
	font-size: 1.2em;
}

main h1, h2, p{
	margin-bottom: 1em;
}

main a{
	text-decoration: none;
	color: #222;
}

main a:hover{
	text-decoration: underline;
}