*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #BA9F3B;
	color: #222;
}

header{
	background-color: #222;
	color: #BA9F3B;
	padding: 1em;
	min-height: 6.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1.5em;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
}

header h1{
	font-size: 2.2em;
	margin-bottom: .1em;
}

main{
	display: flex;
	margin-top: 11em;
}

.introducao{
	background-color: #ccc;
	color: #222;
	border: 4px solid #222;
	padding: 20px;
	max-width: 800px;
	border-radius: 5px;
	font-size: 1.2em;
	margin-left: 200px;
	margin-bottom: 2em;
}

.introducao h1, h2, p{
	margin-bottom: 1em;
}

.introducao a{
	text-decoration: none;
	color: #222;
}

.introducao a:hover{
	text-decoration: underline;
}

.projetos{
	background-color: #222;
	color: #ccc;
	display: flex;
	width: 100%;
	max-width: 250px;
	height: 100%;
	min-height: 3em;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	flex-direction: column;
	margin-top: 4px;
}

.proj-caminho{
	text-align: center;
	font-size: 1.2em;
	border: 2px solid #ccc;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #ccc;
	font-weight: bold;
}

.proj-caminho:hover{
	background-color: #ccc;
	color: #222;
	cursor: pointer;
}

footer{
	background-color: #222;
	color: #ccc;
	display: flex;
	min-height: 3em;
	align-items: center;
}

footer p{
	margin: auto;
}

footer a{
	text-decoration: none;
	color: #ccc;
}

footer a:hover{
	text-decoration: underline;
}

@media (max-width: 1250px){
	main{
		flex-direction: column;
	}
	
	.introducao{
		margin: auto;
	}
	
	.projetos{
		border-radius: 0px 0px 10px 10px;
		display: flex;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
		max-width: 500px;
	}
}

@media (max-width: 950px){
	.introducao{
		border-left: none;
		border-right: none;
		border-radius: 0px;
		max-width: 120vw;
	}
}

@media (max-width: 550px){
	.projetos{
		width: 100%;
		max-width: 120vw;
		border-radius: 0px 0px 0px 0px;
	}
}