*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #222;
	color: #ccc;
	text-align: center;
}

.section{
	margin-top: 4em;
}

.finished{
	border: none;
	background-color: #888;
	color: #222;
	height: 2em;
	padding: 0px 15px;
	border-radius: 15px;
	font-weight: bold;
}