*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: #222;
	color: #ccc;
}

.section{
	margin-top: 4em;
	text-align: center;
}

.form-title{
	font-size: 2em;
}

.tunick{
	font-size: 2.5em;
	margin-bottom: 10px;
}

.tugen, .tudesc{
	font-size: 1.1em;
	margin-bottom: 10px;
}

.tudesc{
	margin: auto;
	max-width: 400px;
	word-wrap: break-word;
}

.gentex{
	margin-bottom: 10px;
}

.nick{
	height: 2.5em;
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #222;
	border: 3px solid #888;
	border-radius: 20px;
	color: #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nick:focus{
	outline: none;
}

.gendiv{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.gen{
	appearance: none;
	background-color: #222;
	color: #aaa;
	width: 15px;
	height: 15px;
	border: 2px solid #888;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

.gen:checked{
	background-color: #888;
	outline: none;
}

.aboutme{
	border: 3px solid #888;
	padding: 10px;
	border-radius: 10px;
	background-color: #222;
	color: #888;
	font-weight: bold;
	min-width: 200px;
	min-height: 130px;
	resize: none;
	margin-bottom: 1em;
	margin-top: 1em;
}

.aboutme:focus{
	color: #ccc;
	outline: none;
}

.finished{
	border: none;
	background-color: #888;
	color: #222;
	height: 2em;
	padding: 0px 20px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 1em;
}

.finished:hover{
	background-color: #aaa;
}