.msgbox{
	background-color: #ccc;
	color: #222;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	border: 4px solid #666;
	border-top: none;
	margin: 2em auto;
	animation: surgir 400ms ease-in-out;
	border-radius: 3px;
}

.msgbox-header{
	background-color: #666;
	display: flex;
	padding: 5px;
	color: #ccc;
	align-items: center;
}

.msgbox-header .title{
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	display: flex;
	font-weight: normal;
}

.msgbox-header .close{
	width: 24px;
	height: 24px;
	display: flex;
	image-rendering: pixelated;
}

.msgbox-body{
	margin: 15px;
	font-weight: 222;
	color: #444;
	min-height: 80px;
	font-size: 1.3em;
}

.msgbox-body img{
	max-width: 100%;
	margin: auto;
	display: flex;
	border-radius: 3px;
}

.button-container{
	padding: 10px;
	flex-direction: column;
}

.flex-con{
	display: flex;
	flex-direction: column;
}

.button{
	margin: auto;
	display: flex;
	padding: 5px 20px;
	background-color: #666;
	color: #ccc;
	border: none;
	border-radius: 5px;
	font-size: 1.3em;
	font-weight: 111;
}

.button:hover{
	background-color: #777;
	color: #ddd;
	cursor: pointer;
}

.button-choice:hover{
	background-color: #777;
	color: #ddd;
	cursor: pointer;
}

.button-choice{
	margin: 0px 8px 8px 8px;
	display: block;
	padding: 5px 20px;
	background-color: #666;
	color: #ccc;
	border: none;
	border-radius: 5px;
	font-size: 1.3em;
	font-weight: 111;
	text-align: center;
}

.input{
	padding: 10px;
	font-size: 1em;
	display: flex;
	background-color: #444;
	color: #ccc;
	margin: 10px auto;
	margin-bottom: none;
	text-align: center;
	border: none;
	border-radius: 3px;
	font-weight: 111;
}

@keyframes surgir{
	from{
		opacity: 0;
	}
	
	to{
		opacity: 100%;
	}
}